:root {
  --main-font-color: #fbfbfb;
  --white-color: #FFF;
  --secondary-font-color: rgba(255, 255, 255, 0.6);
  --btn-gradient-color: linear-gradient(
    97deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
}