:root {
  --main-font-color: #fbfbfb;
  --white-color: #fff;
  --secondary-font-color: rgba(255, 255, 255, 0.6);
  --btn-gradient-color: linear-gradient(
    97deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  --btn-hover-gradient: linear-gradient(
    97deg,
    #7000ff -16.42%,
    #ff4d00 97.04%,
    #00ff00 150.71%
  );
  --Form-color: rgba(255, 255, 255, 0.1);
  --background: #101010;
  --background-table: rgba(82, 59, 126, 0.6);
  --background-modal: rgb(82, 59, 126);
  --white: #fbfbfb;
  --icon-violet: #734aef;
  --transparency-10: rgba(255, 255, 255, 0.1);
  --transparency-20: rgba(255, 255, 255, 0.2);
  --transparency-40: rgba(255, 255, 255, 0.4);
  --transparency-60: rgba(255, 255, 255, 0.6);
  --transparency-90: rgba(255, 255, 255, 0.9);
  --yellow: #ffb627;
  --dashboard-text: #ff868d;
  --button-text-color: #623f8b;
  --background-gradient: radial-gradient(
    circle at center center,
    rgba(47, 21, 176, 0.73),
    rgba(48, 46, 142, 1)
  );
  --modal-box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
}
